<p id="notice"><%= notice %></p>

<% if current_user %>
<h1>Rentals</h1>

<table>
  <thead>
    <tr>
      <th>Car</th>
      <th>User</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rentals.each do |rental| %>
      <tr>
        <td><%= rental.car_id %></td>
        <td><%= rental.user_id %></td>
        <td><%= Date.parse(rental.start_date) %></td>
        <td><%= Date.parse(rental.end_date) %></td>
        <% if rental.cancelled %>
        <td>Rental Terminated</td>
        <% else %>
        <td>Ongoing</td>
        <% end %>
        <td><%= link_to 'View Rental Details', rental %></td>
        <td><%= link_to 'Modify rentail details', edit_rental_path(rental) %></td>
        <td><%= link_to 'Cancel rental', rental, method: :delete, data: { confirm: 'This cannot be undone. Are you sure you want to cancel your booking?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rental', new_rental_path %>
<% end %>