<p id="notice"><%= notice %></p>

<% if current_user %>
<h1>Rentals</h1>

<table>
  <thead>
    <tr>
      <th>Car</th>
      <th>User</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Status</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @rentals.each do |rental| %>
      <tr>
        <td><%= rental.car_id %></td>
        <td><%= rental.user_id %></td>
        <td><%= Date.parse(rental.start_date) %></td>
        <td><%= Date.parse(rental.end_date) %></td>
        <% if current_user && current_user.isAdmin %>
          <% if rental.status == "pending" %>
            <td>Pending</td>
          <% elsif rental.status == "confirmed" %>
            <td>Confirmed</td>
          <% else %>
          <td>Cancelled</td>
          <% end %>
          <td><%= link_to 'Modify Status', modify_status_rental_path(rental), method: :put, data: { confirm: 'Modify this booking?' } %></td>

          <td><%= link_to 'Modify rentail details', edit_rental_path(rental) %></td>
          <td><%= link_to 'View Rental Details', rental %></td>
          <td><%= link_to 'Cancel rental', cancel_rental_path(rental), method: :put, data: { confirm: 'This cannot be undone. Are you sure you want to cancel your booking?' } %></td>
        <% end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rental', new_rental_path %>
<% end %>