<p id="notice"><%= notice %></p>

<p>
  <strong>Car:</strong>
  <%= @rental.car_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @rental.user_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= Date.parse(@rental.start_date).strftime("%B %e, %Y") %>
</p>

<p>
  <strong>End date:</strong>
  <%= Date.parse(@rental.end_date).strftime("%B %e, %Y") %>
</p>
<% if @rental.cancelled %>
  <p>
    <strong>This booking has been cancelled. Please contact an admin.</strong>
  </p>
<% end %>

<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
