
<h4>Hi <%= current_user.first_name if current_user =%>, these are our Vehicles.</h4>
<br>
<% unless !current_user.isAdmin %>  
<%= link_to 'New Car', new_car_path %>
<% end %>

<div class="album text-muted">
  <div class="row">
      <% @cars.each do |car| %>
        <div class="card">
          <img class="img-responsive" src=<%= car.image %>/>
          <p class="center"><%= car.car_brand%> <%= car.car_model %> </p>
          <% unless car.available %>
            <p class="text-red">This car is unavailable at this time</p>
          <% end %>
          <div class="center">
            <h6>&#8358;<%= car.price %> per day</h6>
            <span class="col-md-6"><%= link_to 'View car details', car, :class=>"btn btn-primary btn-sm" %></span>
            <% if current_user.isAdmin %>
              <p><%= link_to 'Modify Car details', edit_car_path(car) %></p>
              <p><%= link_to 'Delete Vehicle', car, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            <% end %>
          </div>
        </div>
      <% end %>
   </div>
</div>